<form [formGroup]="expenseForm" (ngSubmit)="handleSubmit()">
  <input type="hidden" name="id" formControlName="id" />
  <input type="hidden" name="budgetId" formControlName="budgetId" />

  <div class="form-group">
    <input
      placeholder="Enter name"
      id="name"
      type="text"
      formControlName="name"
    />
  </div>

  <div class="form-group">
    <input
      placeholder="Enter amount"
      id="amount"
      type="number"
      formControlName="amount"
    />
  </div>

  <div class="form-group actions">
    <app-button
      type="submit"
      class="icon"
      level="success"
      [disabled]="!expenseForm.valid"
    >
      <fa-icon [icon]="faCheck"></fa-icon>
    </app-button>

    <app-button class="icon" level="danger" (onClick)="handleCancel()">
      <fa-icon [icon]="faClose"></fa-icon>
    </app-button>
  </div>
</form>
