form {
  display: flex;
  align-items: center;

  .form-group {
    padding: var(--spacing);

    &:not(.actions) {
      width: 30%;
    }
  }

  .actions {
    margin-left: auto;
    display: flex;
    gap: var(--spacing);
  }
}
