table {
  width: 100%;
  border-collapse: collapse;

  thead {
    font-weight: bold;
  }

  th,
  td {
    text-align: left;
    padding: var(--spacing);
  }

  tbody {
    tr:nth-child(odd) {
      background-color: #f2f2f2;
    }
  }

  .actions {
    justify-content: flex-end;
    display: flex;
    gap: var(--spacing);
  }
}
