<div class="header">
  <h2>Budgets</h2>
  <app-button class="icon" routerLink="/budgets/create" level="primary"
    ><fa-icon [icon]="faPlus"></fa-icon
  ></app-button>
</div>

<app-loader *ngIf="isLoading"></app-loader>

<p *ngIf="!isLoading && !budgets.length">You have not added any budgets.</p>

<table *ngIf="budgets.length">
  <thead>
    <tr>
      <th>Name</th>
      <th>Amount</th>
      <th>Remaining</th>
      <th>Expenses</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let budget of budgets">
      <td>
        {{ budget.name }}
      </td>
      <td>
        <app-currency [amount]="budget.amount"></app-currency>
      </td>
      <td>
        <app-currency
          [amount]="calculateRemainingAmount(budget)"
        ></app-currency>
      </td>
      <td>
        {{ budgets.length }}
      </td>
      <td class="actions">
        <app-button class="icon" routerLink="/budgets/{{ budget.id }}/show">
          <fa-icon [icon]="faEye"></fa-icon>
        </app-button>
        <app-button
          class="icon"
          routerLink="/budgets/{{ budget.id }}"
          level="secondary"
        >
          <fa-icon [icon]="faPen"></fa-icon>
        </app-button>
        <app-button
          class="icon"
          (onClick)="removeBudget(budget)"
          level="danger"
        >
          <fa-icon [icon]="faTrash"></fa-icon>
        </app-button>
      </td>
    </tr>
  </tbody>
</table>
