<div class="header">
  <h2>Budgets</h2>
</div>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Amount</th>
      <th class="actions">
        <app-button class="icon" routerLink="/budgets/create" level="success"
          ><fa-icon [icon]="faPlus"></fa-icon
        ></app-button>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let budget of budgets">
      <td>
        {{ budget.name }}
      </td>
      <td>
        <app-currency [amount]="budget.amount"></app-currency>
      </td>
      <td class="actions">
        <app-button class="icon" routerLink="/budgets/{{ budget.id }}/show">
          <fa-icon [icon]="faEye"></fa-icon>
        </app-button>
        <app-button
          class="icon"
          routerLink="/budgets/{{ budget.id }}"
          level="secondary"
        >
          <fa-icon [icon]="faPen"></fa-icon>
        </app-button>
        <app-button
          class="icon"
          (onClick)="removeBudget(budget)"
          level="danger"
        >
          <fa-icon [icon]="faTrash"></fa-icon>
        </app-button>
      </td>
    </tr>
  </tbody>
</table>
