<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Amount</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let budget of budgets">
      <td>
        {{ budget.name }}
      </td>
      <td>
        <app-currency [amount]="budget.amount"></app-currency>
      </td>
      <td class="actions">
        <app-button>Edit</app-button>
        <app-button (onClick)="removeBudget(budget.id)" type="danger"
          >Remove</app-button
        >
      </td>
    </tr>
  </tbody>
</table>
