<form [formGroup]="registerForm" (ngSubmit)="handleSubmit()">
  <div class="form-group">
    <label for="name">Email: </label>
    <input placeholder="Enter email" type="email" formControlName="email" />
  </div>

  <div class="form-group">
    <label for="amount">Password: </label>
    <input
      placeholder="Enter password"
      type="password"
      formControlName="password"
    />
  </div>

  <div class="form-group">
    <label for="amount">Confirm password: </label>
    <input
      placeholder="Enter confirm password"
      type="password"
      formControlName="confirmPassword"
    />
  </div>

  <app-button type="submit" level="success" [disabled]="!registerForm.valid"
    >Register</app-button
  >
</form>
