header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--black);
  padding: var(--spacing);
  height: var(--header-height);

  a {
    color: white;
  }
}
