.grid {
  display: grid;
  height: calc(100% - var(--header-height));

  &.logged-in {
    grid-template-columns: 200px auto;
  }

  .router-outlet {
    padding: calc(var(--spacing) * 2);
    overflow: auto;
    height: 100%;
  }
}
