.button {
  border: none;
  padding: var(--spacing);
  cursor: pointer;
  height: 40px;
  padding: 10px 20px;
  border-radius: var(--radius);

  &.icon {
    padding: 0;
    width: 40px;
  }

  &.primary {
    background: var(--primary-color);
    color: white;
  }

  &.secondary {
    background: var(--black);
    color: white;
  }

  &.danger {
    background: var(--red);
    color: white;
  }

  &:disabled {
    cursor: not-allowed;
    background: darkgray;
  }
}
