.button {
  border: none;
  padding: var(--spacing);
  cursor: pointer;
  height: 40px;
  padding: 10px 20px;

  &.icon {
    padding: 0;
    width: 40px;
  }

  &.primary {
    background: var(--black);
    color: white;
  }

  &.secondary {
    background: lightgray;
    color: var(--black);
  }

  &.danger {
    background: red;
    color: white;
  }

  &.success {
    background: green;
    color: white;
  }

  &:disabled {
    cursor: not-allowed;
    background: darkgray;
  }
}
