.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.card {
  width: 100%;
  max-width: 400px;
  margin-bottom: calc(var(--spacing) * 2);
  display: flex;
  flex-direction: column;
  gap: calc(var(--spacing) * 2);

  img {
    width: 200px;
    margin: 0 auto;
  }
}

p {
  text-align: center;
}

a {
  &:hover {
    text-decoration: underline;
  }
}
