:host {
  background: var(--black);
  height: 100%;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;

    li {
      a {
        display: flex;
        align-items: center;
        padding: var(--spacing);
        color: white;
      }
    }
  }
}
