@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

:root {
  --header-height: 75px;
  --spacing: 10px;
  --black: #191919;
  --gray: #bebebe;
  --radius: 4px;
  --primary-color: #26a646;
  --green: #26a646;
  --red: #cd1313;
  --shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--black);
}

a {
  text-decoration: none;
  color: var(--black);
}

input {
  width: 100%;
  font-size: 1rem;
  border: 1px solid var(--gray);
  border-radius: var(--radius);
  padding: var(--spacing);
}

.header {
  height: 40px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--spacing);
  margin-bottom: calc(var(--spacing) * 2);
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;

  .form-group {
    margin-bottom: calc(var(--spacing) * 2);
    width: 100%;
    display: flex;
    flex-direction: column;

    label {
      margin-bottom: calc(var(--spacing) / 2);
    }
  }
}

.card {
  border-radius: var(--radius);
  box-shadow: var(--shadow);
  background: white;
  padding: calc(var(--spacing) * 2);
}

@mixin mobile {
  @media (max-width: 540px) {
    @content;
  }
}
