.expenses {
  width: 100%;
  margin-bottom: calc(var(--spacing) * 2);
  display: flex;
  flex-direction: column;
  gap: calc(var(--spacing) * 2);

  .expense {
    display: flex;
    gap: var(--spacing);
  }
}
